<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kevrain.consensus">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission android:protectionLevel="signature"
        android:name="com.kevrain.consensus.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.kevrain.consensus.permission.C2D_MESSAGE" />

    <application
        android:name=".ConsensusApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        tools:replace="android:icon"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:launchMode="singleTop"
            android:name=".activities.CreateOrEditPollActivity"
            android:label="@string/title_activity_create_new_poll"
            android:theme="@style/AppTheme" />
        <activity
            android:launchMode="singleTop"
            android:name=".activities.PollDetailsActivity"
            android:label="@string/title_activity_poll_details"
            android:parentActivityName=".activities.PollsActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.PollsActivity" />
           </activity>
        <activity
            android:launchMode="singleTop"
            android:name=".activities.PollsActivity"
            android:label="@string/title_activity_polls"
            android:parentActivityName=".activities.GroupsActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.GroupsActivity" />
        </activity>
        <activity android:launchMode="singleTop" android:name=".activities.CreateOrEditGroupActivity"></activity>
        <activity
            android:launchMode="singleTop"
            android:name=".activities.GroupsActivity"
            android:label="@string/title_activity_groups"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>

        <service android:name="com.parse.PushService" />
        <receiver android:name="com.parse.ParsePushBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <!--
                  IMPORTANT: Change "com.codepath.parseportpush" to match your app's package name.
                -->
                <category android:name="com.kevrain.consensus" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.parse.push.gcm_sender_id"
            android:value="id:919464060527"/>
    </application>

</manifest>